#menu,
#head,
#phone,
#nav,
#nav-menu,
#nav-search,
#shop,
#sidebar1,
#sidebar2,
#sidebar3,
#catalog,
#events,
#pop {
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

#body {
    margin: 0;
}

#menu,#head {
    flex-direction: row;
    padding: 10px;
}

#menu{
    background-color:midnightblue;
    text-decoration: underline;
    color: white;
    height: 30px;
    justify-content: end;
    gap: 15px;
}

#head{
    height: 60px;
    justify-content:space-between;
}

#nav-menu{
    gap:15px;
    font-weight: lighter;
    font-size: medium;
}

#nav{
    flex-direction: column;
    gap: 5px;
    text-transform: uppercase;
}

.red{
    color: red;
}

#logo{
    height: 100%;
    width: auto;
}

#nav-search{
    width: 100%;
}

#search{
    border-color: royalblue;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    height: 28px;
    margin-right: -10px;
    padding: 0 10px 0 0;
    width: 100%;
}

#head-menu{
    display: flex;
    gap: 15px;
    justify-content: end;
    align-items: center;
}

#head-menu{
    text-transform: uppercase;
    font-size: x-large;
}

#phone{
    flex-direction: column;
}

button{
    background-color:royalblue;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size:x-large;
}

#slider img{
    width: 100%;
}

#shop{
    flex-direction: row;
    align-items: normal;
    padding: 10px;
    gap: 20px;
}

#sidebar1{
    flex-grow: 1;
}

#sidebar2{
    gap: 10px;
}

#sidebar2,#sidebar3{
    flex-grow: 2;
}

#sidebar2 img{
    width: 100%;
}

#sidebar1,
#sidebar2,
#sidebar3,
#catalog,
#events,
#pop{
    flex-direction: column;
}

#sidebar1,
#sidebar2,
#sidebar3{
    flex-basis: 0;
}

h2{
    text-transform: uppercase;
    color:midnightblue;
}

#catalog{
    flex-direction: column;
    align-items: normal;
    gap: 10px;
}

#catalog div,#pop .item{
    font-weight: bold;
}

#pop{
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

#pop .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3px;
    font-size:larger;
    color: midnightblue;
}

#pop .item, #pop .item img{
    width: 150px;
}

#hamburger{
    display: none;
    width: 30px;
}

#hamburger hr{
    border-style: double;
    border-width: 1px;
}


@media screen and (max-width: 400px){
    #pop .item img{
        width: 100px;
    }

    #pop .item{
        font-size: small;
        width: 100px;
    }
}

@media screen and (max-width: 900px){
    #shop{
        flex-direction:column;
        align-items: center;
    }
    
    #catalog{
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5%;
    }

    #catalog div{
        padding: 5px;
        text-align: center;
    }

    #sidebar2{
        width: 70%;
    }
}

@media screen and (max-width: 600px){
    #sidebar2{
        width: 100%;
    }
}

@media screen and (max-width: 1300px){
    #nav{
        display: none;
    }
    #hamburger{
        display: block;
        order: 4;
    }
    #phone {
        flex-direction: row;
        gap: 15px;
        order: 1;
    }
    #enter{
        order: 3;
    }
    #cart{
        order: 2;
    }
}

@media screen and (max-width: 700px){
    #menu{
        display: none;
    }
}

@media screen and (max-width: 450px){
    #enter,#cart{
        display: none;
    }
}

@media screen and (max-width: 950px){
    #phone{
        display: none;
    }
}